/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

process {
    errorStrategy = 'retry'
    maxRetries    = 2
    time = {'20s' * task.attempt }
    resourceLimits = [
        memory: 100.GB,
        cpus: 10,
        time: 2.h,
    ]
}

// conda {
//     enabled = true
//     createTimeout = '1 h'
//     // cacheDir = '/home/gorbunov_aa/storage_dbs/nextflow_resources/nf-core/viralrecon/envs'
//     cacheDir = '/home/gorbunov_aa/shared/nextflow/nf-core/envs/viralrecon/viralrecon_envs'
// }